## Use the airquality Data Set. It contains Daily readings of the following air quality values for May 1, 1973 (a Tuesday) 
##to September 30, 1973.

## Data Dictionary
##Ozone: Mean ozone in parts per billion from 1300 to 1500 hours at Roosevelt Island

##Solar.R: Solar radiation in Langleys in the frequency band 4000â€“7700 Angstroms from 0800 to 1200 hours at Central Park

##Wind: Average wind speed in miles per hour at 0700 and 1000 hours at LaGuardia Airport

##Temp: Maximum daily temperature in degrees Fahrenheit at La Guardia Airport.

##Month: Month (in numbers 1 for Jan, 2 for Feb and so on)

##Day: Day (in numbers)

## Based on the dataset, answer the following.

## Standard Imports - pandas and numpy

In [2]:
import numpy as np
import pandas as pd

## Q1. Import the DataSet into Jupyter Notebook.

In [3]:
df_air = pd.read_csv('airquality.csv')
df_air.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

## Q2. How many observations are there in the object you just imported?

In [4]:
df_air.shape

(153, 6)

## Q3. How many Missing Values are there in the column Solar.R?

In [5]:
df_air['Solar.R'].isnull().sum()

7

## Q4. What was the Ozone Levels on 7th July?

In [11]:
df_air[(df_air['Month']==7) & (df_air['Day'] == 7)]['Ozone'].values[0]

77.0

## Q5. What has been the average temperature in the month of September?

In [12]:
df_air[df_air['Month'] ==9]['Temp'].mean()

76.9

## Q6. What was the maximum windspeed observed in July?

In [13]:
df_air[df_air['Month']==7]['Wind'].max()

14.9

## Q7. Which month has the day with minimum amount of Solar Radiation?

In [19]:
df_air[df_air['Solar.R'] == df_air['Solar.R'].min()][['Month','Day']]

    Month  Day
81      7   21

## Q8. Which month has the coldest day?

In [21]:
df_air[df_air['Temp'] == df_air['Temp'].min()]['Month']

4    5
Name: Month, dtype: int64

## Q9. Which was the hottest day? (Only day not month)

In [22]:
df_air[df_air['Temp'] == df_air['Temp'].max()]['Day']

119    28
Name: Day, dtype: int64

## Q10. Which day had Ozone Level of 78 and Temperature of 86 (Day and Month)

In [24]:
df_air[(df_air['Ozone'] == 78) & (df_air['Temp'] == 86)]['Day']

95    4
Name: Day, dtype: int64